@model ConfigurationModel
@{
    Layout = "_ConfigureProvider";
}

@await Component.InvokeAsync("StoreScope")

<widget target-zone="admin_button_toolbar_before">
    <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</widget>

@if (ViewBag.ViewMsg != null)
{
    <div class="alert alert-success alert-dismissible">
        @Html.Raw(ViewBag.ViewMsg)
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (ViewBag.ViewMsgError != null)
{
    <div class="alert alert-danger alert-dismissible">
        @Html.Raw(ViewBag.ViewMsgError)
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

<div class="plugin-configuration">
    <div>
        <div class="alert alert-info alert-dismissible">
            @Html.Raw(T("Plugins.Smartstore.BtcPay.AdminInstruction"))
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
    <div>
        <a href="https://btcpayserver.org" target="_blank">
            <img src="@Url.Content("~/Modules/Smartstore.BtcPay/branding.png")" alt="BTCPay" />
        </a>
    </div>
</div>

<form asp-action="Configure">
    <div asp-validation-summary="ModelOnly" />
        <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                    <smart-label asp-for="BtcPayUrl" />
            </div>
            <div class="adminData">
                    <setting-editor asp-for="BtcPayUrl" />
                    <span asp-validation-for="BtcPayUrl" />
            </div>
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                    <smart-label asp-for="ApiKey" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="ApiKey" />
                <span asp-validation-for="ApiKey"/>
            </div>
            &nbsp;
                    <a href="@ViewBag.UrlBtcApiKey">@T("Plugins.Smartstore.BtcPay.CreateApiKey")</a>
         </div>


        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BtcPayStoreID" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="BtcPayStoreID" />
                <span asp-validation-for="BtcPayStoreID" />
            </div>
        </div>

    </div>

    <br/>
    <div class="alert alert-info alert-dismissible">
        @T("Plugins.Smartstore.BtcPay.WebHookInfo") &nbsp; @ViewBag.UrlWebHook<br />
        <i> @Html.Raw(T("Plugins.Smartstore.BtcPay.WebHookNote"))</i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <div class="adminContent">
     <div class="adminRow">
            <div class="adminTitle">
                <label>@T("Plugins.Smartstore.BtcPay.WebHookUrl")</label>
            </div>
            <div class="adminData">
                <div class="input-group">
                    <input value="@ViewBag.UrlWebHook" readonly />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" title="@T("Common.Copy")" onclick="navigator.clipboard.writeText('@ViewBag.UrlWebHook')">
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                    &nbsp;
                    <a href="@ViewBag.UrlCreateWebHook">@T("Plugins.Smartstore.BtcPay.CreateWebhook")</a>
                </div>
            </div>
        </div>

    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="WebHookSecret" />
        </div>
        <div class="adminData">
            <setting-editor asp-for="WebHookSecret" />
            <span asp-validation-for="WebHookSecret" />
        </div>
    </div>
    <span></span>
    <br/>

    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AdditionalFee" />
        </div>
        <div class="adminData">
            <editor asp-for="AdditionalFee" sm-postfix="@ViewBag.StoreCurrencyCode" />
            <span asp-validation-for="AdditionalFee"></span>
        </div>
    </div>
    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="AdditionalFeePercentage" />
        </div>
        <div class="adminData">
            <editor asp-for="AdditionalFeePercentage" />
            <span asp-validation-for="AdditionalFeePercentage"></span>
        </div>
    </div>

</div>

</form>
