@using Smartstore.Core.Checkout.Payment
@model ConfigurationModel
@{
    Layout = "_ConfigureProvider";
}
@inject PaymentSettings PaymentSettings
@await Component.InvokeAsync("StoreScope")

<widget target-zone="admin_button_toolbar_before">
    <button id="SaveConfigButton" type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</widget>
@if (Model.IsConfigured())
{
    <widget target-zone="admin_button_toolbar_before">
        <button id="DeleteConfigButton" name="command" type="submit" class="btn btn-danger" value="delete">
            <i class="fa fa-trash"></i>
            <span>@T("Admin.Common.Clear")</span>
        </button>
    </widget>
}
@if (Model.IsConfigured() && !PaymentSettings.ActivePaymentMethodSystemNames.Contains("Smartstore.BTCPayServer"))
{
    <widget target-zone="admin_button_toolbar_before">
        <button id="ActivateMethodButton" name="command" type="submit" class="btn btn-primary" value="activate">
       
            <span>@T("Admin.Common.Activate")</span>
        </button>
    </widget>
}
@if (ViewBag.ViewMsg != null)
{
    <div class="alert alert-success alert-dismissible">
        @Html.Raw(ViewBag.ViewMsg)
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}

@if (ViewBag.ViewMsgError != null)
{
    <div class="alert alert-danger alert-dismissible">
        @Html.Raw(ViewBag.ViewMsgError)
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}
@if (!Model.IsConfigured())
{
    <div class="plugin-configuration">
        <div>
            <div class="alert alert-info alert-dismissible">
                @Html.Raw(T("Plugins.SmartStore.BTCPayServer.AdminInstruction"))
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
                @if(string.IsNullOrEmpty(Model.WebHookSecret)){
               
                
                <div class="alert alert-info alert-dismissible">
                    @T("Plugins.SmartStore.BTCPayServer.WebHookInfo") &nbsp; @ViewBag.UrlWebHook<br />
                    <i> @Html.Raw(T("Plugins.SmartStore.BTCPayServer.WebHookNote"))</i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            }
        </div>
        <div>
            <a href="https://btcpayserver.org" target="_blank">
                <img src="@Url.Content("~/Modules/Smartstore.BTCPayServer/branding.png")" alt="BTCPayServer"/>
            </a>
        </div>
    </div>
    

}
<form asp-action="Configure">
    <div asp-validation-summary="ModelOnly" />
        <div class="adminContent">
        <div class="adminRow">
            <div class="adminTitle">
                    <smart-label asp-for="BtcPayUrl" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="BtcPayUrl" />
                <span asp-validation-for="BtcPayUrl" />
            </div>
                @if (!Model.IsConfigured())
                {
                    <button type="submit" name="command" value="getautomaticapikeyconfig" class="btn btn-outline-primary btn-sm" style="margin-bottom: 0.25rem">Configure automatically</button>
                }
        </div>

        <div class="adminRow">
            <div class="adminTitle">
                    <smart-label asp-for="ApiKey" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="ApiKey" />
                <span asp-validation-for="ApiKey"/>
            </div>
         </div>


        <div class="adminRow">
            <div class="adminTitle">
                <smart-label asp-for="BtcPayStoreID" />
            </div>
            <div class="adminData">
                <setting-editor asp-for="BtcPayStoreID" />
                <span asp-validation-for="BtcPayStoreID" />
            </div>
        </div>

    </div>

    <div class="adminContent">
     <div class="adminRow">
         <div class="adminTitle">
             
             <div class="ctl-label"><label >@T("Plugins.SmartStore.BTCPayServer.WebHookUrl")</label></div>
         </div>
            <div class="adminData">
                <div class="input-group">
                    <input class="form-control" value="@ViewBag.UrlWebHook" readonly />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" title="@T("Common.Copy")" onclick="navigator.clipboard.writeText('@ViewBag.UrlWebHook')">
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    <div class="adminRow">
        <div class="adminTitle">
            <smart-label asp-for="WebHookSecret" />
        </div>
        <div class="adminData">
            <setting-editor asp-for="WebHookSecret" />
            <span asp-validation-for="WebHookSecret" />
        </div>
    </div>
        <hr/>
        <div class="card border-0" id="additionalOptions">
            <h6 class="card-title" >Additional Options</h6>
            
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="AdditionalFee"/>
                    </div>
                    <div class="adminData">
                        <editor asp-for="AdditionalFee" sm-postfix="@ViewBag.StoreCurrencyCode"/>
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="adminRow">
                    <div class="adminTitle">
                        <smart-label asp-for="AdditionalFeePercentage"/>
                    </div>
                    <div class="adminData">
                        <editor asp-for="AdditionalFeePercentage"/>
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
        </div>
   

</div>

</form>
